.container {
  background-color: white;
  padding: 20px 50px;
}

.coins-container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.coin-container {
  padding: 10px;
  border: solid 1px black;
  opacity: 0.5;
} 

.coin-title {
  
}

.coin-score {

}

.coin-comments-container {

}

.coin-comments-label {

}

.coin-author {

}

.coin-post-time {

}
